@using MicroShop.Web.Domain.DTOs.ProductDTOs
@model List<ProductDTO>

@{
    var userMessage = TempData["UserMessage"] as string;
    var messageType = TempData["MessageType"] as string;
    var alertClass = messageType == "success" ? "alert-success" : "alert-danger";
}

@if (!string.IsNullOrEmpty(userMessage))
{
    <div class="alert @alertClass">
        @userMessage
    </div>
}

<h1>Product List</h1>

<a asp-action="ProductCreatePage" class="btn btn-primary mb-3">Create Product</a>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                var buttonText = product.IsInCart ? "Remove from Cart" : "Add to Cart";
                var buttonClass = product.IsInCart ? "btn-danger" : "btn-success";
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Stock</td>
                    <td>
                        <a asp-action="ProductUpdatePage" class="btn btn-success" asp-route-id="@product.Id">
                            <i class="fas fa-edit">Edit</i>
                        </a>
                        <a asp-action="ProductDeletePage" class="btn btn-danger" asp-route-id="@product.Id">
                            <i class="fas fa-trash">Delete</i>
                        </a>
                        <form asp-action="AddProductToCart" asp-controller="Carts" method="post">
                            <input type="hidden" name="productId" value="@product.Id" />
                            <button type="submit" class="btn @buttonClass">
                                <i class="fas fa-edit"></i> @buttonText
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products found.</p>
}
